#gamecont {
    border: 2px solid #00955e;
    margin: 23px;
    width: 600px;
    height: 400px;
}

body {
    background-color: #b2a366;
}

#container {
    margin: 0 auto;
    background-color: #d7c88b;
    width: 650px;
    display: block;
    height: auto;
}

#info {
    padding: 25px;
}